<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837598357636-rvol1gk151aavmj7hhhrj69hgp977t9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837598357636-rvol1gk151aavmj7hhhrj69hgp977t9o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>837598357636-h5rq8r6gvii6kpog8u1a4rfjhl69rud0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4mf0EJyA5-OIFtLT0mUyXeB8uj5RHC3U</string>
	<key>GCM_SENDER_ID</key>
	<string>837598357636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.testhypeeo</string>
	<key>PROJECT_ID</key>
	<string>mytestcrashhandling</string>
	<key>STORAGE_BUCKET</key>
	<string>mytestcrashhandling.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837598357636:ios:668c9c9ad0feb45cd33ad1</string>
	<key>DATABASE_URL</key>
	<string>https://mytestcrashhandling.firebaseio.com</string>
</dict>
</plist>